package-lock.json
node_modules/
.idea/
.DS_Store
venv/

scripts/share/out_1.csv
scripts/share/out_2.csv
scripts/share/out_3.csv

scripts/combine/reconstructed.csv
scripts/share/myCfg.json
scripts/combine/myCfg.json